#clothingWidget{
    /* border: slategray 1px solid; */
    text-align: center;
    width: 40%;
    padding: 24px;
    /* border-radius: 25px;
    box-shadow: slategray 5px 5px 10px; */
    display: flex;
    flex-wrap: wrap;
    min-width: 180px;
    color: beige;
}

#clothesImage{
    width: 30%;
    height: fit-content;
    border-radius: 15px;
    /* animation: glowBox 6s;
    animation-iteration-count: 99; */
    min-width: 180px;
    max-height: 450px;
    position: relative;
}
#clothingP, #clothingH3{
    min-width: 120px;
    max-height: 450px;
    height: fit-content;
}

#clothesImage:hover{
    box-shadow: slategray 5px 5px 10px;
}
.clothingText{
    width: 80%;
}
#clothingTextDiv{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    padding: 5%;
    height: fit-content;
    
}

@keyframes glow{
    0% {text-shadow: 0px 0px 5px red;}
    25% {text-shadow: 0px 0px 10px purple;}
    50% {text-shadow: 0px 0px 15px pink;}
    75% {text-shadow: 0px 0px 10px purple;}
    100% {text-shadow: 0px 0px 5px red;}
}
@keyframes glowBox{
    0% {box-shadow: 0px 0px 5px red;color:red}
    25% {box-shadow: 0px 0px 10px purple;color:purple}
    50% {box-shadow: 0px 0px 15px pink;color:pink}
    75% {box-shadow: 0px 0px 10px purple;color:purple}
    100% {box-shadow: 0px 0px 5px red;color:red}
}