#bannerTitle {
  font-weight: 800;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(78, 7, 57);
}


#date-widget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    font-family: sans-serif;
    box-shadow: rgb(216, 221, 221) 5px 5px 10px;
    padding: 15px  0 0 15px;
  }
  
  #date-widget h3 {
    color: beige;
    border-radius: 0,8rem;
  }
  #reminder{
    color: beige;
  }
  
  #dateOfDate {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  