/*
Project 1
Date Night
- Steve Barry -
- Samer Balee - Mona Mahmoud - Joel Shewan -
Main CSS file
*/

/*background moving gradiant with keyframes*/
body {
  background: rgb(186,0,198);
  background: radial-gradient(circle, rgba(186,0,198,1) 11%, rgba(255,3,88,1) 100%);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#search, #datePicker{
    resize: none;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h1{
    animation: glow 4s;
    animation-iteration-count: 99;
}


#modalBtn{
    position: relative;
    top: 50px;
    height: 100px;
    width: 60%;
    font-size: 200%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px;
}

#modalBtn:hover,.conCan:hover{
    animation: glowBox 4s;
    animation-iteration-count: 99;
}
.conCan{
    margin: 5px 25px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px black;
    background-color: lightsteelblue;
    color: white;
    font-weight: bold;
    font-size: 120%;
}



#clothesImage{
    /* height: 450px; */
    /* width: 300px; */
    width: 40%;
    height: fit-content;
    border-radius: 15px;
    animation: glowBox 6s;
    animation-iteration-count: 99;
    min-width: 180px;
    max-height: 450px;
}




@keyframes glow{
    0% {text-shadow: 0px 0px 5px red;}
    25% {text-shadow: 0px 0px 10px purple;}
    50% {text-shadow: 0px 0px 15px pink;}
    75% {text-shadow: 0px 0px 10px purple;}
    100% {text-shadow: 0px 0px 5px red;}
}
@keyframes glowBox{
    0% {box-shadow: 0px 0px 5px red;color:red}
    25% {box-shadow: 0px 0px 10px purple;color:purple}
    50% {box-shadow: 0px 0px 15px pink;color:pink}
    75% {box-shadow: 0px 0px 10px purple;color:purple}
    100% {box-shadow: 0px 0px 5px red;color:red}
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);



body {
	background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}


#weather_wrapper{
	width: 400px;
	margin: 100px auto;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;

  
  border-radius: 25px;
  overflow:hidden;
  
}
.currentTemp{
	width: 220px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: navy;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 0;
}
.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	display: block;
}
.conditions{
	font-family: weathericons;
	font-size: 80px;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.info{
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	top: 3px;
}
.rain::before{
	/* display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 40px;
	left: 6px;
	top: -4px;
	position: absolute; */
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	/* display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px; */
}






