/*
Project 1
Date Night
- Steve Barry - Samer Balee - Mona Mahmoud - Joel Shewan -
Main CSS file
*/

/*background moving gradiant with keyframes*/
body {
    background: rgb(186,0,198);
    background: radial-gradient(circle, rgba(186,0,198,1) 11%, rgba(255,3,88,1) 100%);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    color: beige;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#search, #datePicker{
    resize: none;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

#mainTitle{
    animation: glow 4s;
    animation-iteration-count: 99;
    font-size: 600%;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    font-family: fantasy;
    text-align: center;
}
/*
#modalBtn{
    position: relative;
    top: 50px;
    height: 100px;
    width: 60%;
    min-width: 160px;
    font-size: 200%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px;
}
#modalBtn:hover,.conCan:hover{
    animation: glowBox 4s;
    animation-iteration-count: 99;
}
.conCan{
    margin: 5px 25px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px black;
    background-color: lightsteelblue;
    color: white;
    font-weight: bold;
    font-size: 120%;
} */

#dateContent{
	display: flex;
	flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
}

@keyframes glow{
    0% {text-shadow: 0px 0px 5px red;}
    25% {text-shadow: 0px 0px 10px purple;}
    50% {text-shadow: 0px 0px 15px pink;}
    75% {text-shadow: 0px 0px 10px purple;}
    100% {text-shadow: 0px 0px 5px red;}
}
@keyframes glowBox{
    0% {box-shadow: 0px 0px 5px red;color:red}
    25% {box-shadow: 0px 0px 10px purple;color:purple}
    50% {box-shadow: 0px 0px 15px pink;color:pink}
    75% {box-shadow: 0px 0px 10px purple;color:purple}
    100% {box-shadow: 0px 0px 5px red;color:red}
}