#mapWidget{
    border: slategray 1px solid;
    text-align: center;
    /* width: 700px;*/
    width: 40%;
    padding: 24px;
    border-radius: 25px;
    box-shadow: slategray 5px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 180px;
}

#myMap{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    position: relative;
}