#mapWidget{
    text-align: center;
    width: 50%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    min-width: 180px;
    position: relative;
}

#myMap{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    position: relative;
}