
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

#weather_wrapper{
	width: 500px;
	margin: 100px auto;
	font-size: 100%;
}
.weatherCard{
	width: 500px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
	border-radius: 25px;
	overflow:hidden;
}
.currentTemp{
	width: 320px;
	height: 200px;
	background: cornflowerblue;
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: lightskyblue;
	margin: 0;
	position: absolute;
	top: 0;
	left: 320px;
}
.temp{
	text-align: center;
	display: block;
	font-weight: 300;
    font-size: 300%;
	color: rgb(255, 255, 255);
    height: 50%;
	width: fit-content;
	margin: auto;
	margin-top: 15px;
}
#locationDiv{
    height: 50%;
}
#cityName{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	display: block;
    margin: 0 auto;
}
.conditions{
	font-family: weathericons;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.info{
	display: block;
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	/* top: 3px; */
	margin-top:5%;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 30px;
	left: 6px;
	top: -5px;
	position: absolute;
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	margin-top: 5%;
	
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 20px;
	left: -10px;
	position: absolute;
}
#weatherIcon{
	height: 100px;
	width: 100px;
}